<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
  xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
  xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement" search:require="solr">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_web_link_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">sc_web_link_index</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">

              <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
                <!-- This element must be first -->
                <typeMatches hint="raw:AddTypeMatch">
                  <typeMatch typeName="guidCollection" type="System.Collections.Generic.List`1[System.Guid]" fieldNameFormat="{0}_sm" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="textCollection" type="System.Collections.Generic.List`1[System.String]" fieldNameFormat="{0}_txm" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="stringCollection" type="System.Collections.Generic.List`1[System.String]" fieldNameFormat="{0}_sm" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="intCollection" type="System.Collections.Generic.List`1[System.Int32]" fieldNameFormat="{0}_im" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="guid" type="System.Guid" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="id" type="Sitecore.Data.ID, Sitecore.Kernel" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="shortid" type="Sitecore.Data.ShortID, Sitecore.Kernel" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="string" type="System.String" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="text" type="System.String" fieldNameFormat="{0}_t" cultureFormat="_{1}" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="int" type="System.Int32" fieldNameFormat="{0}_tl" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="bool" type="System.Boolean" fieldNameFormat="{0}_b" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="datetime" type="System.DateTime" fieldNameFormat="{0}_tdt" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="long" type="System.Int64" fieldNameFormat="{0}_tl" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="float" type="System.Single" fieldNameFormat="{0}_tf" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="double" type="System.Double" fieldNameFormat="{0}_td" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="stringArray" type="System.String[]" fieldNameFormat="{0}_sm" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="intArray" type="System.Int32[]" fieldNameFormat="{0}_im" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="datetimeArray" type="System.DateTime[]" fieldNameFormat="{0}_dtm" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="datetimeCollection" type="System.Collections.Generic.List`1[System.DateTime]" fieldNameFormat="{0}_dtm" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                  <typeMatch typeName="coordinate" type="Sitecore.ContentSearch.Data.Coordinate, Sitecore.ContentSearch.Data" fieldNameFormat="{0}_rpt" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                </typeMatches>

                <!-- This allows you to map a field name in Sitecore to the index and store it in the appropriate way -->
                <!-- Add schema fields here to enable multi-language processing -->
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="__created_by" returnType="string" />
                  <field fieldName="__smallcreateddate" returnType="datetime" format="yyyy-MM-dd'T'HH\:mm\:ss'Z'" />
                  <field fieldName="__smallupdateddate" returnType="datetime" format="yyyy-MM-dd'T'HH\:mm\:ss'Z'" />
                  <field fieldName="__workflow_state" returnType="string" />
                  <field fieldName="extension" returnType="text" />
                  <field fieldName="title" returnType="text" />
                  <field fieldName="type" returnType="text" />

                  <field fieldName="Title" returnType="text" />
                  <field fieldName="LinkUrl" returnType="text" />
                  <field fieldName="Date" returnType="datetime" format="yyyy-MM-dd'T'HH\:mm\:ss'Z'" />
                  <field fieldName="Category" returnType="stringCollection" />
                </fieldNames>

                <!-- FIELD TYPE MAPPING
                    This allows you to map a field type in Sitecore to a type in the index.
                    USAGE: When you add new field types to Sitecore, add the mappings here so they work through the Linq Layer 
                  -->
                <fieldTypes hint="raw:AddFieldByFieldTypeName">
                  <fieldType fieldTypeName="checkbox" returnType="bool" />
                  <fieldType fieldTypeName="date|datetime" returnType="datetime" />
                  <fieldType fieldTypeName="html|rich text|single-line text|multi-line text|text|memo|image|reference" returnType="text" />
                  <fieldType fieldTypeName="word document" returnType="text" />
                  <fieldType fieldTypeName="integer" returnType="long" />
                  <fieldType fieldTypeName="number" returnType="float" />
                  <fieldType fieldTypeName="icon|droplist|grouped droplist" returnType="string" />
                  <fieldType fieldTypeName="checklist|multilist|treelist|tree list|treelistex|tree list|multilist with search|treelist with search" returnType="stringCollection" />
                  <fieldType fieldTypeName="name lookup value list|name value list" returnType="stringCollection" />
                  <fieldType fieldTypeName="droplink|droptree|grouped droplink|tree" returnType="stringCollection" />
                </fieldTypes>
              </fieldMap>

              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">

                <indexAllFields>false</indexAllFields>

                <include hint="list:AddIncludedField">
                  <!-- PostLink -->
                  <Title>{BF753F41-7698-4600-A429-7F7ABCD7FF6D}</Title>
                  <LinkUrl>{75DDDA1E-F396-4211-B63E-7126977B9A20}</LinkUrl>
                  <Date>{9BAB1509-DCE6-4000-AAFB-7E6AD748B337}</Date>
                  <Category>{A5AD30BD-EBEE-4461-B07A-4059D90C20A7}</Category>

                  <!-- Category -->
                  <Title>{D799A43A-DEC6-496D-B2E0-BB08B20529CC}</Title>
                  <CategoryId>{62D4B0FE-786C-4405-A16B-6A477CC3A622}</CategoryId>
                  <Links>{87AE4799-B1E2-46BE-9780-392ED1264A75}</Links>
                </include>

                <include hint="list:AddIncludedTemplate">
                  <PostLink>{AF742425-1E7B-4DA0-97C8-D39CA3093F37}</PostLink>
                  <Category>{41FC2039-8529-427E-832C-DE4F81E0DEB4}</Category>
                </include>

              </documentOptions>
            </configuration>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="ContentManagement and !Indexing" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster" role:require="Standalone or (ContentManagement and Indexing)" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/Data/Links</Root>
              </crawler>
            </locations>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>